@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="m-4">
<input type="text" @oninput="HandleInput" placeholder="name"/>
<input type="text" @bind="text" @bind:event="oninput" @bind:after="Search" placeholder="binding event"/>
<input type="text" @onkeydown="keypress" placeholder="keystrock"/>
<input type="text" @onfocus="FocusEvent" @onblur="BlurEvent" placeholder="mouse focus or blur"/>
<p>@text</p>
</div>
<div style="border: 1px solid black;" @onmouseover="MousEventHandel">
<p>@text</p>
</div>
<p>@result</p>

@code {
    private int currentCount = 0;
    //can be used to get value from other page to change behaviour 
    [Parameter]
    public int incrementCount {get; set;}=1;
    string text="";
    string result="";
    private void IncrementCount()
    {
        currentCount+=incrementCount;
    }
    private void HandleInput(ChangeEventArgs e)
    {
        // see one by one keyboard input stream
        text  =(String)e.Value!;       
    }
    private void MousEventHandel(MouseEventArgs e)
    {
        //on hover
        text="You are hovering over"; 
    }
    private void keypress(KeyboardEventArgs e)
    {
        //pass the pressed key name to DivTextKey
        text=e.Key;
    }
    private void FocusEvent(FocusEventArgs e)
    {
       text="You are typing"; 
    }
    private void BlurEvent(FocusEventArgs e)
    {
        text="you are not typing , clicked away";
    }
    async Task Search(){
        await Task.Delay(3000);
result="169 result were found";
    }
}
